/* body > div,
body > div > div,
body > div > div > div.login-form,
.login-form-grid {
  height: 100%;
}
 */

.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}
